body {
  border: 5px solid #302f2f;
  padding: 20px;
  font-family: sans-serif;
  line-height: 1.4;
}

.prod-head {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

button {
  padding: 10px;
  width: 150px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: uppercase;
}

button:hover {
  background: #000;
  color: white;
}

li {
  list-style: square;
  /* list-style: number / square / decimal / armenian ;  can be anything that want*/
}
