* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 20px;
  font-family: sans-serif;
  line-height: 1.7;
}

.container {
  padding: 50px;
  width: 50%;
  margin: 30px auto;
  border: 5px solid #302f2f;
}

.prod-head {
  text-align: center;
  margin: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

button {
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: uppercase;
}

button:hover {
  background: #000;
  color: white;
}

li {
  list-style: square;
  /* list-style: number / square / decimal / armenian ;  can be anything that want*/
  line-height: 1.5;
}

ul {
  padding-left: 40px;
}
